


.races-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.race-card {
  background: rgb(237, 243, 247);
  border: 1px solid #181414;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.race-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #34495e; /* Dark text color */
}
/* CSS */
.track {
  width: 100%; /* Full width of the container */
  height: 60px; /* Fixed height for each runner */
  background-color: #d45c5c !important; /* Optional background for visual separation */
  position: relative;
}

.runner {
  position: absolute; /* Use absolute positioning to set exact placement */
  width: 20px; /* Width of each runner (adjust as needed for visibility) */
  height: 60px; /* Height of each runner */
  background-color: #00aaff; /* Example color for runners */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
  transition: transform 0.5s ease; /* Smooth transition for movement */
}