/* App.css */
/* Content wrapper */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure full height layout */
  overflow: hidden; /* Prevent unnecessary scroll issues */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width header */
  height: 10vh; /* Adjust this height as needed */
  background-color: #426334;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure it's above other content */
}

.content-wrapper {
  margin-top: 10vh; /* Matches the height of the fixed header */
  flex: 1; /* Allow content to fill remaining space */
  padding: 0 20px; /* Add some padding to the edges */
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 30px;
  gap: 20px; /* Space between menu items */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between login/register or logout */
}

.header-left div, .header-right p {
  cursor: pointer;
}

.header-logout-div {
  margin-right: 30px;
}

.header-login-div {
  margin-right: 40px;
}

.header-login-div p {
  color: white;
  text-decoration: none;
  /*font-weight: bold;*/
  cursor: pointer;
}

.header-login-div p:hover {
  text-decoration: underline;
}

.header-logout-div p {
  color: white;
  /*font-weight: bold;*/
  cursor: pointer;
}

.header-logout-div p:hover {
  text-decoration: underline;
}


/* Main body styles */
.main {
  flex: 1;
  padding: 20px;
}
.controls {
  padding: 50px;
}